<div *ngIf="!add_new_entity">
  <button (click)="addNewEntity()">Add New Entity</button>
</div>

<div *ngIf="add_new_entity">
  <div *ngIf="simEntity.name != ''">
    <label>{{ simEntity.name }} - Entity</label>
  </div>
  <div *ngIf="simEntity.name == ''"><label>[SimEntity] - Entity</label></div>
  <!-- <div><label>ID: <input [(ngModel)]="simEntity.id" /></label></div> -->
  <div>
    <label>Name: <input [(ngModel)]="simEntity.name"/></label>
  </div>

  <div *ngIf="add_new_attribute">
    <div><label>Attributes: </label></div>
    <div *ngIf="simEntity.attributes.length > 0">
      <div *ngFor="let attribute of simEntity.attributes">
        Attribute: {{ attribute.name }}
      </div>
    </div>
    <div><label>New Attribute:</label></div>
    <div>
      <label>Name: <input [(ngModel)]="newAttribute.name"/></label>
    </div>
    <div>
      <button (click)="addAttribute()">
        Add Attribute to {{ simEntity.name }}
      </button>
    </div>
  </div>
  <button (click)="addEntity()">Add Entity to Simulation</button>
</div>
