<div *ngIf="!add_new_entity">
  <button mat-raised-button (click)="addNewEntity()">Add New Entity</button>
</div>

<div *ngIf="add_new_entity">
  <div *ngIf="simEntity.name != ''">
    <label>{{ simEntity.name }} - Entity</label>
  </div>
  <div *ngIf="simEntity.name == ''"><label>[SimEntity] - Entity</label></div>
  <!-- <div><label>ID: <input [(ngModel)]="simEntity.id" /></label></div> -->
  <div>
    <mat-form-field>
      <input matInput [(ngModel)]="simEntity.name" placeholder="Entity Name" />
    </mat-form-field>
  </div>
  <button mat-raised-button (click)="addEntity()">Add Entity to Simulation</button>
  <button mat-raised-button (click)="reset()">Cancel</button>
</div>
