<div *ngIf="add_new_read_attribute">
  <div *ngIf="newEvent == null">
    <mat-form-field>
      <mat-select placeholder="Select Event" [(ngModel)]="newEvent">
        <mat-option *ngFor="let event of simulator.events" [value]="event">{{
          event.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <div><button mat-raised-button (click)="reset()">Cancel</button></div>
  </div>

  <div *ngIf="newEvent != null">
    <mat-form-field>
      <mat-select placeholder="Select Entity" [(ngModel)]="simEntity">
        <mat-option
          *ngFor="let entity of simulator.entities"
          [value]="entity"
          >{{ entity.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <div *ngIf="simEntity != null">
      <mat-form-field>
        <mat-select
          placeholder="Select Read Attribute"
          [(ngModel)]="newAttribute"
        >
          <mat-option
            *ngFor="let read_attribute of simEntity.attributes"
            [value]="read_attribute"
            >{{ read_attribute.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button (click)="addReadAttribute()">
        Add Read Attribute
      </button>
      <button mat-raised-button (click)="reset()">
        Cancel
      </button>
    </div>
  </div>
</div>
<!--
<mat-form-field>
  <mat-select placeholder="Select Write Attributes" [(ngModel)]="newEvent.writes">
    <ng-container *ngFor="let entity of simulator.entities">
      <mat-option
        *ngFor="let write_attribute of entity.attributes"
        [value]="write_attribute.id"
        >{{ write_attribute.name }}</mat-option
      >
    </ng-container>
  </mat-select>
</mat-form-field>
-->
