<div *ngIf="simulator">
  <h3 *ngIf="simulator.name == ''">[Simulator Name] - Configuration</h3>
  <h3 *ngIf="simulator.name != ''">{{ simulator.name }} - Configuration</h3>
  <mat-form-field>
    <input matInput [(ngModel)]="simulator.name" placeholder="Simulator Name" />
  </mat-form-field>
  <br />
  <mat-form-field>
    <input
      matInput
      [(ngModel)]="simulator.description"
      placeholder="Simulator Description"
    />
  </mat-form-field>
  <br />
  <mat-divider></mat-divider>
  <br />
  <div
    *ngIf="
      add_new_entity == false &&
      add_new_attribute == false &&
      add_new_event == false &&
      add_new_schedules == false
    "
  >
    <button mat-raised-button (click)="addEntity()">
      Add Entity to Simulation
    </button>
    <button mat-raised-button (click)="addAttribute()">
      Add Attribute to Entity
    </button>
    <button mat-raised-button (click)="addEvent()">
      Add Event to Simulator
    </button>
    <button mat-raised-button (click)="addSchedules()">
      Add Schedules Relation to Simulation
    </button>
  </div>
  <div *ngIf="add_new_entity == true">
    <app-simulation-entity-configurator
      [simulator]="simulator"
      [add_new_entity]="add_new_entity"
      (finished)="reset($event)"
    ></app-simulation-entity-configurator>
  </div>
  <div *ngIf="add_new_attribute == true">
    <app-attribute-configurator
      [simulator]="simulator"
      [add_new_attribute]="add_new_attribute"
      (finished)="reset($event)"
    ></app-attribute-configurator>
  </div>
  <div *ngIf="add_new_event == true">
    <app-event-configurator
      [simulator]="simulator"
      [add_new_event]="add_new_event"
      (finished)="reset($event)"
    ></app-event-configurator>
  </div>
  <div *ngIf="add_new_schedules == true">
    <app-schedules-configurator
      [simulator]="simulator"
      [add_new_schedules]="add_new_schedules"
      (finished)="reset($event)"
    ></app-schedules-configurator>
  </div>
  <br />
  <mat-divider></mat-divider>
  <br />
  <app-cli-input-generator [simulator]="simulator"></app-cli-input-generator>
  <mat-divider></mat-divider>
  <br />
  <app-simulator-tree-view [simulator]="simulator"></app-simulator-tree-view>
</div>
