<div *ngIf="simulator">
  <h3 *ngIf="simulator.name == ''">[Simulator Name] - Configuration</h3>
  <h3 *ngIf="simulator.name != ''">{{ simulator.name }} - Configuration</h3>
  <label
    >Simulator Name:
    <input [(ngModel)]="simulator.name" placeholder="Name" />
  </label>

  <div *ngIf="simulator.entities">
    <li *ngFor="let entity of simulator.entities">
      <span class="entity">{{ entity.name }}</span> - Entity
      <ul>
        <li *ngFor="let attribute of entity.attributes">
          <span class="attribute">{{ attribute.name }}</span> - Attribute
        </li>
      </ul>
    </li>
  </div>

  <div *ngIf="!add_new_entity">
    <button (click)="addNewEntity()">Add New Entity</button>
  </div>

  <div *ngIf="add_new_entity">
    <div *ngIf="simEntity.name != ''">
      <label>{{ simEntity.name }} - Entity</label>
    </div>
    <div *ngIf="simEntity.name == ''"><label>[SimEntity] - Entity</label></div>
    <!-- <div><label>ID: <input [(ngModel)]="simEntity.id" /></label></div> -->
    <div>
      <label>Name: <input [(ngModel)]="simEntity.name"/></label>
    </div>

    <div *ngIf="add_new_attribute">
      <div><label>Attributes: </label></div>
      <div *ngIf="simEntity.attributes.length > 0">
            <div *ngFor="let attribute of simEntity.attributes">
              Attribute: {{ attribute.name }}
            </div>
          </div>
      <div><label>New Attribute:</label></div>
      <div>
        <label>Name: <input [(ngModel)]="newAttribute.name"/></label>
      </div>
      <div>
        <button (click)="addAttribute()">
          Add Attribute to {{ simEntity.name }}
        </button>
      </div>
    </div>
    <button (click)="addEntity()">Add Entity to Simulation</button>
  </div>
</div>
